@import "./Colors.scss";
@import "~react-image-gallery/styles/scss/image-gallery.scss";

.album-body {
  position: sticky;
  bottom: 0;
  height: 35vh;
  overflow: auto;
}

.album-item {
  color: $white;
  // padding: 1rem 0;
  margin: 1rem auto;
  margin-right: 15px;
  border: 1px solid $white;
  border-radius: 5px;
  background-color: $tertialy-color;
  transition: background-color 0.3s;
  text-align: center;
}

.album-item:hover {
  background-color: $accent-color;
  cursor: pointer;
}
