@import './Colors.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $primary-color;
  color: $primary-text-color;
}

nav {
  background-color: $tertialy-color;
  margin: 0 auto;
  padding: 1rem;
}

body::-webkit-scrollbar {
  width: 6px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: $secondary-color;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: $accent-color;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
}
