@import "./Colors.scss";

* {
  text-decoration: none;
}

input:checked {
  accent-color: $accent-color;
}

.todo-body {
  height: 40%;
  overflow: auto;
}

.todo-body > div {
  padding: 0.5rem 0;
  @media (max-width: 767px) {
    margin: 0 1rem;
  }
}

.todo-item {
  display: flex;
  align-items: center;
}

.completed {
  text-decoration: line-through;
}

.todo-button {
  color: $white;
  padding: 0 5px;
  margin-right: 15px;
  margin-bottom: 1rem;
  border: 1px solid $white;
  border-radius: 5px;
  background-color: $tertialy-color;
  transition: background-color 0.3s;
}

a > .todo-button {
  text-align: center;
}

.todo-button:hover {
  background-color: $accent-color;
}

.todopage-row {
  gap: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: 0.1s linear;

  @media (max-width: 767px) {
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }
}

.todopage-row > .todo-body {
  height: 100%;
  overflow: auto;
}

.todopage-row > .todo-body > div {
  padding: 0.5rem 0;
  @media (max-width: 767px) {
    margin: 0 1rem;
  }
}
